[submodule "new/path.ux"]
	path = app/path.ux
	url = https://github.com/joeedh/path.ux.git
[submodule "app/path.ux/scripts/path-controller"]
	path = app/path.ux/scripts/path-controller
	url = https://github.com/joeedh/path-controller.git
